$color-primary: #3f51b5;
$color-red: red;
$color-grey:#dee2e6;
$color-grey-drak: #24292e;
$color-green: #417505;
$font-header: 24px;
$c-black: #000000;
$c-dark: #222222;
$c-semi-dark: #333333;
$c-semi-grey: #555555;
$c-grey: #888888;
$c-light-grey: #bfbfbf;
$c-soft-grey: #eeeeee;
$c-primary: #00c483;
$c-white: #ffffff;
$c-black: #000000;
$c-dark: #222222;
$c-semi-dark: #333333;
$c-semi-grey: #555555;
$c-grey: #888888;
$c-light-grey: #bfbfbf;
$c-soft-grey: #eeeeee;
$c-primary: #00c483;